Repository samirelhassann/angular-examples: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --max-warnings=0 --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.ts": [
    "eslint --cache --max-warnings=0 --fix"
  ],
  "*.{css,scss}": "stylelint --fix",
  "/**/*.json": "prettier --write"
}

deploy: 89aa5157f5ec4eacfa7b92df7f21ece70cf7c33b
  .nojekyll
  3rdpartylicenses.txt
  browser/boot-example.png
  browser/chunk-ACU3GD4B.js
  browser/chunk-TRNF7YA4.js
  browser/favicon.ico
  browser/index.html
  browser/main-65C7E3EJ.js
  browser/mastercard.svg
  browser/polyfills-FFHMD2TL.js
  browser/styles-U3G23BUW.css
  prerendered-routes.json
Due: stylelint --fix

ci: configure github-pages
  .github/workflows/build-and-deploy.yml
Due: none

deploy: d0d217012caaf581008c0c6865bae5bfce7e4e08
  browser/index.html
  browser/main-BLGTCWTS.js
Due: none

ci: configure github-pages
  .github/workflows/build-and-deploy.yml
  package.json
Due: none

ci: configure github-pages
  angular.json
Due: none

Deploying to prod from @ samirelhassann/angular-examples@8354b013e449bf47cdd477c0c5536630f69d974a 🚀
  boot-example.png
  chunk-ACU3GD4B.js
  chunk-TRNF7YA4.js
  favicon.ico
  index.html
  main-BLGTCWTS.js
  mastercard.svg
  polyfills-FFHMD2TL.js
  styles-U3G23BUW.css
Due: stylelint --fix

ci: configure github-pages
  package.json
Due: none

Deploying to prod from @ samirelhassann/angular-examples@8edfc94af17d7fcc32af41b1fa76fea54e9057ab 🚀
  index.html
Due: none

ci: configure github-pages
  src/app/components/code-preview/code-preview.component.html
  src/app/services/github/github.service.ts
  src/environments/environment.ts
Due: eslint --cache --max-warnings=0 --fix

Deploying to prod from @ samirelhassann/angular-examples@2612d1fca3e4e30cb2ca100a3ee4f2e3d9f7365e 🚀
  index.html
  main-BLGTCWTS.js
  main-HQFLIG6P.js
Due: none

ci: configure github-pages
  src/app/services/github/github.service.ts
Due: eslint --cache --max-warnings=0 --fix

ci: configure github-pages
  src/index.html
Due: none

Deploying to prod from @ samirelhassann/angular-examples@9aa0aecfec9758d9d7f2d479f0031a102fae8e2f 🚀
  index.html
  main-HQFLIG6P.js
  main-YUQMDPQR.js
Due: none

Deploying to prod from @ samirelhassann/angular-examples@ec9a1c1c46773a783df848bbdb0250bf336c215f 🚀
  index.html
  main-AFPQKWZS.js
  main-YUQMDPQR.js
Due: none

ci: configure github-pages
  src/app/app.component.html
Due: none

Deploying to prod from @ samirelhassann/angular-examples@70db5fc01572e15bdc18395f2baf9babe8064b56 🚀
  index.html
  main-AFPQKWZS.js
  main-F5YHF2TE.js
Due: none
